.arc
	&-button, &-imagebutton
		& > button
			font-family: "Segoe UI Light", "Open Sans", "Helvetica Neue Light", "HelveticaNeue-Light", sans-serif
			outline: medium none
			background-color: var(--blue-light); /* Line - Serbia */
			color: white
			border: 0px solid transparent
			border-radius: var(--border-radius)
			padding: 4px 12px
			vertical-align: middle
			text-align: center
			height: 100%
			min-height: 39px !important
			max-height 39px !important
			padding: 9px !important

			i
				font-size: 20px

			@media (max-width: 1024px) and (min-width: 768px)
				min-height: 39px !important
				max-height 39px !important

		
			&:active
				background-color: #1d1d1d

			&:disabled
				background-color: #F2F2F2
				color: black

				&:active
					background-color: #F2F2F2

		button
			color: #fff
			font-weight: bold
			transition: all 0.4s ease-in-out
			position: relative
			background-color: var(--blue-light)
			cursor: pointer

			&:disabled, &.disabled
				cursor: not-allowed

			&:after
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 0
				height: 100%
				background-color: rgba(255,255,255,0.4)
				-webkit-transition: none
				-moz-transition: none
				transition: none


			&:not(:disabled):not(.disabled)
				&:hover
					background-color: var(--blue-dark2) 
				
					&:after
						width: 120% !important
						background-color: rgba(255,255,255,0) !important
						transition: all 0.4s ease-in-out

			
		&.absoluteTopRight
			width: 80px;
			border-radius: .6rem;
			border: 0
			border-top: rgba(0,0,0,0.1) solid 1px;
			border-right: rgba(0,0,0,0.1) solid 1px;
			position: absolute !important;
			top: 12px;
			right: -2px;
			padding: 0 !important;
			
			& > button
				border: 4px #fff solid !important;
				border-radius: .6rem;
				font-size: 1.3rem !important;
				line-height: .7rem;



		&.btn-success
			button
				background-color: var(--blue-light)
				border-color: var(--blue-light)

				&:not(:disabled):not(.disabled)
					&:hover
						background-color: var(--blue-dark2)
						border-color: var(--blue-dark2)
						box-shadow:  0 0.125rem 0.625rem #D8ECFE, 0 0.0625rem 0.125rem #D8ECFE

					button:active
						border: 1px solid #d9d9d9 !important
						color: #6c757d !important
						background-color: #f5f9fa !important;
						opacity 1 
						box-shadow: none
						transition: all 0.2s ease-in-out

		&.btn-danger
			button
				background-color: var(--red-solid)
				border-color: var(--red-solid)

				&:not(:disabled):not(.disabled)
					&:hover
						background var(--red-solid) 
						border-color:var(--red-solid) 
						box-shadow: 0 0.125rem 0.625rem rgba(217,37,80,0.4), 0 0.0625rem 0.125rem rgba(217,37,80,0.5)

					button:active
						background-color: var(--red-solid) 
						border-color: var(--red-solid) 
						box-shadow: none
						transition: all 0.2s ease-in-out

		&.btn-warning
			button
				background-color: var(--orange); /* Line Serbia */
				border-color: var(--orange); /* Line Serbia */

				&:not(:disabled):not(.disabled)
					&:hover
						background var(--orange-light)
						border-color: var(--orange-light)
						box-shadow: 0 0.125rem 0.625rem rgba(222,166,32,0.4), 0 0.0625rem 0.125rem rgba(222,166,32,0.5)

					button:active
						background-color: var(--orange-light)
						border-color: var(--orange-light)
						box-shadow: none
						transition: all 0.2s ease-in-out

		&.btn-secondary
			button
				background-color: #6c757d
				border-color: #6c757d

				&:not(:disabled):not(.disabled)
					&:hover
						background-color: #5a6268
						border-color: #545b62
						box-shadow: 0 0.125rem 0.625rem rgba(108,117,125,0.4), 0 0.0625rem 0.125rem rgba(108,117,125,0.5)

					button:active
						background-color: #545b62
						border-color: #4e555b
						box-shadow: none
						transition: all 0.2s ease-in-out

			&.absoluteTopRight
				top: initial !important;
				right: -6px !important;
				bottom: -11px !important;
				border-bottom: rgba(0,0,0,0.1) solid 1px;
				border-top: 0;


		&.btn-alternate
			button
				background-color: #794c8a;
				border-color: #794c8a;

				&:hover
					background-color: #633e71;
					border-color: #5c3a69;
					box-shadow: 0 0.125rem 0.625rem rgba(121,76,138,0.5), 0 0.0625rem 0.125rem rgba(121,76,138,0.6);

				&:not(:disabled):not(.disabled)
					button:active
						background-color: #633e71;
						border-color: #5c3a69;
						box-shadow: none
						transition: all 0.2s ease-in-out

			&.absoluteTopRight
				top: 3px;
				right: -6px;


		&.btn-remove
			transition: .5s all

			button
				background-color var(--red)
				border-color: var(--red)
				transition: .5s all

				&:not(:disabled):not(.disabled)
					&:hover
						background-color: rgba(218,98,74,0.7)
						border-color: rgba(218,98,74,0.7)
						box-shadow: 0 0.125rem 0.625rem rgba(222,121,34,0.4), 0 0.0625rem 0.125rem rgba(108,117,125,0.5)

					button:active
						background-color: rgba(218,98,74,0.7)
						border-color: rgba(218,98,74,0.7)
						box-shadow: none
						transition: all 0.2s ease-in-out

			&.absoluteTopRight
				top: 12px !important
				right: -2px !important


		&.disabled
			button
				cursor: not-allowed
				opacity: .6
				background: #6c757d

				&:after
					display none


	&-logout button
		&:hover
			background-color var(--red-solid)


	&-newBtns 
		.panel-cell
			width: auto !important
			max-width: 0 !important			



	&-hyperlink.button
		a
			text-decoration none
			display block
			color: #fff
			font-weight bold
			transition: all 0.4s ease-in-out
			position: relative
			cursor: pointer
			font-family: "Segoe UI Light", "Open Sans", "Helvetica Neue Light", "HelveticaNeue-Light", sans-serif
			outline: medium none
			background-color: #4390df
			color: white
			border: 0px solid transparent
			border-radius: var(--border-radius)
			vertical-align: middle
			text-align: center
			height: 100%
			min-height: 28px
			padding: 10px 10px;
			min-height: calc(2.25rem + 2px) !important;
			font-size: .8rem

			&:disabled, &.disabled
				cursor: not-allowed
				opacity: .6

			&:after
				content: ''
				position: absolute
				top: 0
				left: 0
				width: 0
				height: 100%
				background-color: rgba(255,255,255,0.4)
				-webkit-transition: none
				-moz-transition: none
				transition: none

			&:hover:after
				width: 120% !important
				background-color: rgba(255,255,255,0) !important
				transition: all 0.4s ease-in-out



			@media (max-width: 1024px) and (min-width: 768px)
				min-height: calc(2.25rem + 2px) !important
		
			&:active
				background-color: #1d1d1d

			&:disabled
				background-color: #F2F2F2
				color: black

				&:active
					background-color: #F2F2F2
				

	&-button > button:active
		background: transparent

	&-datatable-wbuttons .panel-cell
		display: inline !important

	&-button.larger button
		min-height: calc(2.25rem + 2px) !important
	

.buttonToDelete
	font-family: "Segoe UI Light", "Open Sans", "Helvetica Neue Light", "HelveticaNeue-Light", sans-serif
	outline: medium none
	color: white
	border-radius: var(--border-radius)
	padding: 4px 12px
	vertical-align: middle
	text-align: center
	height: 100%
	min-height: calc(2.25rem + 2px)
	padding: .375rem .75rem
	font-size: .8rem
	background-color rgb(222,121,34)
	border-color: #da624a
	transition: .5s all

	&:hover
		background-color: #da624a
		border-color: var(--blue); /* Line - Serbia */
		box-shadow: 0 0.125rem 0.625rem rgba(222,121,34,0.4), 0 0.0625rem 0.125rem rgba(108,117,125,0.5)


