.checkbox
	.editor-value
		width: auto

	input
		font-size: 12px
		border: 1px solid #D9D9D9
		margin: 0.33em 0 0.33em 0

	&.iconstyle .editor-wrapper label
		cursor: pointer

	&.iconstyle .editor-wrapper.caption-position-hide
		display: table
	
	&.iconstyle .editor-wrapper.caption-position-hide label
		display: table
		width: auto
	
	&.iconstyle .editor-wrapper.caption-position-hide label div.caption-wrap
		display: table-cell
		width: auto
	
	&.iconstyle .editor-wrapper.caption-position-hide label div.caption-wrap span
		display: none

	&.iconstyle .editor-wrapper.caption-position-top
		display: table
	
	&.iconstyle .editor-wrapper.caption-position-top label
		display: table
		width: 100%
	
	&.iconstyle .editor-wrapper.caption-position-top label div.caption-wrap
		display: table-cell
		width: 150px

	&.iconstyle .caption-position-right .caption-wrap:before, 
	&.iconstyle .caption-position-hide .caption-wrap:before
		content: ""
		position: absolute
		width: 18px
		height: 18px
		border: 2px solid #00205b
		background: transparent
		top: 0
		left: -16px

	&.iconstyle .caption-position-right .caption-wrap:after, 
	&.iconstyle .caption-position-hide .caption-wrap:after
		content: ""
		position: absolute
		width: 14px
		height: 6px
		background: transparent
		top: 4px
		left: -14px
		border: 3px solid #00205b
		border-top: none
		border-right: none
		opacity: 0
		-webkit-transform: rotate(-45deg)
		transform: rotate(-45deg)

	&.iconstyle .caption-position-left label, .checkbox.iconstyle .caption-position-top label
		direction: rtl

	&.iconstyle .caption-position-left .caption-wrap, .checkbox.iconstyle .caption-position-top .caption-wrap
		direction: ltr

	&.iconstyle .caption-position-left .caption-wrap:before, 
	&.iconstyle .caption-position-top .caption-wrap:before
		content: ""
		position: absolute
		width: 18px
		height: 18px
		border: 2px solid #00205b
		background: transparent
		top: 0
		right: -16px

	&.iconstyle .caption-position-left .caption-wrap:after, 
	&.iconstyle .caption-position-top .caption-wrap:after
		content: ""
		position: absolute
		width: 14px
		height: 6px
		background: transparent
		top: 4px
		right: -14px
		border: 3px solid #00205b
		border-top: none
		border-right: none
		opacity: 0
		-webkit-transform: rotate(-45deg)
		transform: rotate(-45deg)

	&.iconstyle input[type=checkbox]
		margin: 4px 0 0
		opacity: 0

	&.iconstyle input[type=checkbox]:checked + .caption-wrap:after
		opacity: 1

	&.iconstyle input[type=checkbox]:focus + .caption-wrap:before
		-webkit-box-shadow: 0 0 5px 0px rgba(0, 32, 91, 0.6)
		box-shadow: 0 0 5px 0px rgba(0, 32, 91, 0.6)

	&.iconstyle input[type=checkbox][disabled] + .caption-wrap:before
		background-color: #eeeeee !important
		border-color: #dddddd !important

	&.iconstyle input[type=checkbox][disabled] + .caption-wrap:after
		border-color: #999 !important