.enumradiogroup
	fieldset
		padding: 0
		margin: 0
		border: 0
		min-width: 0

	legend
		display: block
		width: 150px
		padding: 0
		margin-bottom: 5px
		border: 0
		border-bottom: 0px solid transparent

	.caption-position-left fieldset legend
		float: left

	.caption-position-right fieldset legend
		float: right

	.caption-position-hide fieldset legend
		display: none

	.caption-halign-left fieldset legend
		text-align: left

	.caption-halign-right fieldset legend
		text-align: right

	.caption-halign-center fieldset legend
		text-align: center

	.radioGroupItems
		display: inline-block
		width: auto
	
	.radioGroupItems label.radioGroupItem
		margin-right: 1em
		width: auto
	
		.radioCaption-wrap
			display: inline-block

	&.enumradiogroup-horizontal label.radioGroupItem
		display: inline-block

	&.enumradiogroup-vertical label.radioGroupItem .radioCaption-wrap
		width: 150px

	.item-caption-position-right label.radioGroupItem .radioCaption-wrap
		padding-left: 0.5em

	.item-caption-position-left label.radioGroupItem .radioCaption-wrap
		padding-right: 0.5em

	&.iconstyle .item-caption-position-right label.radioGroupItem .radioCaption-wrap:before
		content: ""
		position: absolute
		width: 18px
		height: 18px
		border: 2px solid #00205b
		background: transparent
		top: 0
		left: -16px
		border-radius: 100%

	&.iconstyle .item-caption-position-right label.radioGroupItem .radioCaption-wrap:after
		content: ""
		position: absolute
		width: 10px
		height: 10px
		background: #00205b
		display: inline-block
		top: 4px
		left: -12px
		border: 0
		opacity: 0
		border-radius: 100%

	&.iconstyle .item-caption-position-left label
		direction: rtl

	&.iconstyle .item-caption-position-left .radioCaption-wrap
		direction: ltr

	&.iconstyle .item-caption-position-left label.radioGroupItem .radioCaption-wrap:before
		content: ""
		position: absolute
		width: 18px
		height: 18px
		border: 2px solid #00205b
		background: transparent
		top: 0
		right: -15px
		border-radius: 100%

	&.iconstyle .item-caption-position-left label.radioGroupItem .radioCaption-wrap:after
		content: ""
		position: absolute
		width: 10px
		height: 10px
		background: #00205b
		display: inline-block
		top: 4px
		right: -11px
		border: 0
		opacity: 0
		border-radius: 100%

	&.iconstyle label.radioGroupItem
		cursor: pointer
	
	&.iconstyle label.radioGroupItem .radioCaption-wrap
		position: relative

	&.iconstyle input[type=radio]
		margin: 4px 0 0
		opacity: 0

	&.iconstyle input[type=radio]:checked + .radioCaption-wrap:after
		opacity: 1

	&.iconstyle input[type=radio]:focus + .radioCaption-wrap:before
		-webkit-box-shadow: 0 0 5px 1px rgba(0, 32, 91, 0.7)
		box-shadow: 0 0 5px 1px rgba(0, 32, 91, 0.7)

	&.iconstyle input[type=radio][disabled] + .radioCaption-wrap:before
		background-color: #eeeeee !important
		border-color: #dddddd !important

	&.iconstyle input[type=radio][disabled] + .radioCaption-wrap:after
		background-color: #999 !important