.validations-above .editor .errorText
	position: static
	margin-top: 0px

.errorpanel .errorMessage
	color: red

.required input
	border-left: 3px solid #70E01B

html body .required input[aria-invalid="true"] 
	border: 1px solid red !important
	border-left: 3px solid red !important

.notifyRefusal
	-webkit-animation-timing-function: linear
	animation-timing-function: linear
	webkit-animation: shake
	animation: shake
	-webkit-animation-duration: 0.5s
	animation-duration: 0.5s
	-webkit-animation-iteration-count: infinite
	animation-iteration-count: infinite


.alert-hidden-accessible
	border: 0
	clip: rect(0 0 0 0)
	height: 1px
	margin: -1px
	overflow: hidden
	padding: 0
	position: absolute
	width: 1px
