.cd-header-button {
  min-width: 150px;
  max-width: 150px;
}

/* v kombinaci s upravenou .cgb-default zajisti ze IsVisible = false CBG nebude zabirat misto paddingem */
.collapsiblegroupbox\.cfca4faa9e574885bad67cbe322167a7\.collapsiblegroupbox {
  padding: 0px;
}

.cgb-default {
  padding: 0.5rem;
}

table tr td:nth-child(2) .displayed-aseo-version.label, table tr td:nth-child(8) .displayed-aseo-version.label {
  position: relative;
}

table tr td:nth-child(2) .displayed-aseo-version.label:before {
  position: absolute;
  left: -0.1rem;
  content: ">";
}

table tr td:nth-child(8) .displayed-aseo-version.label:after {
  position: absolute;
  right: -0.1rem;
  content: "<";
}

.displayed-aseo-version.label {
  font-weight: bold;
}

table {
    word-break: break-all;
}

.paddingSmall{
	padding: 0.5rem 0.5rem;
}