.cd-header-button {
  min-width: 150px;
  max-width: 150px;
}

/* v kombinaci s upravenou .cgb-default zajisti ze IsVisible = false CBG nebude zabirat misto paddingem */
.collapsiblegroupbox\.cfca4faa9e574885bad67cbe322167a7\.collapsiblegroupbox {
  padding: 0px;
}

.cgb-default {
  padding: 0.5rem;
}

.cd-download-spinner {
  font-size: 18px;
}

table {
    word-break: break-all;
}

.paddingSmall{
	padding: 0.5rem 0.5rem;
}

.arc-labeledtext.text-box div.editor-value {
  height: 26px;
  padding: 3px;
  border: 1px solid #dfdfdf !important;
  color: #6c757d !important;
  background-color: #eee !important;
}
