.cd-header-button {
  min-width: 150px;
  max-width: 150px;
}

/* v kombinaci s upravenou .cgb-default zajisti ze IsVisible = false CBG nebude zabirat misto paddingem */
.collapsiblegroupbox\.cfca4faa9e574885bad67cbe322167a7\.collapsiblegroupbox {
  padding: 0px;
}

.cgb-default {
  padding: 0.5rem;
}

.cd-download-spinner {
  font-size: 18px;
}

.cd-notification-clear {
  position: relative;
  top: 3px; /* to level with notification bell*/
  font-size: 20px;
  cursor: pointer;
}

.cd-notification-count > div {
  position: fixed;
  top: 2px;
  left: 35px;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  text-align: center;
  line-height: 16px;
  background: #d9232b;
  color: #fff;
  font-size: 10px;
  z-index: 1000;
}

table {
  word-break: break-all;
}

.paddingSmall{
	padding: 0.5rem 0.5rem;
}

.arc-labeledtext.text-box div.editor-value {
  height: 26px;
  padding: 3px;
  border: 1px solid #dfdfdf !important;
  color: #6c757d !important;
  background-color: #eee !important;
}

.cd-checkbox.editor .editor-wrapper.caption-position-left input[type='checkbox'], 
.cd-checkbox.editor .editor-wrapper.caption-position-right input[type="checkbox"] {
  display: grid;
  place-content: center;
  appearance: none;
  width: 1.3em;
  height: 1.3em;
  border-radius: 3px;
}

.cd-checkbox.editor .editor-wrapper.caption-position-left input[type='checkbox'], 
.cd-checkbox.editor .editor-wrapper.caption-position-right input[type="checkbox"]::before {
  content: "";
  width: 0.8em;
  height: 0.8em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em rgb(236 176 164);
}

.cd-checkbox.editor .editor-wrapper.caption-position-left input[type='checkbox'], 
.cd-checkbox.editor .editor-wrapper.caption-position-right input[type="checkbox"]:checked::before {
  transform: scale(1);
}
