/* AseoNewApplication.form */
.component.childsFloatRight .panel-cell {
    float: right;
    margin-right: 0.25%;
}

.displayed-aseo-version{
    font-size: 1.1em;
    color: #2c3e50;
    font-weight: bold;
    font-style: italic;
    position: relative;
}
.displayed-aseo-version[data-name=eventType_Description]{
    transform: translateX(1.5rem);
}

.displayed-aseo-version[data-name=eventType_Description] ::before{
    /*content: ">>";*/
    position: absolute;
    font-size: 1.3em;
    top: 0.5rem;
    left: -1.25rem;
    color: #2c3e50;
    font-family: FontAwesome;
    /*content: "\f06e"; icon eye*/
    content: "\f0a4"; /*icon hand*/
}

/* custom button display of row of buttons*/
.elo-panel-wrap div.panel-cell {
	display: initial;
	width: auto !important;
	float: left;
}
.width-auto {
	width: auto !important;
}
.elo-fixed-button {
	width: 9.4rem !important;
	height: 3.2rem;
}

/*GUI notifications*/
.component.groupbox legend{
  letter-spacing: 1px;
}
.component.label[data-name=label_notificationsMessages] div {
  font-size: 1.2em;
}
.component.groupbox.aseo-warning-isErrorPanel legend{
  color: red;
  font-weight: 700;
}
.component.groupbox.aseo-warning-isErrorPanel fieldset.container {
  border: 2px solid #c0392b;
}
.component.groupbox.test_aseo-warning-isErrorPanel .aseo-warning-isErrorFont div{
  color: red;
  font-weight: 500;
}