/* AseoNewApplication.form */
.component.childsFloatRight .panel-cell {
  float: right;
  margin-right: 0.25%;
}

.displayed-aseo-version {
  font-size: 1.1em;
  color: #2c3e50;
  font-weight: bold;
  font-style: italic;
  position: relative;
}
.datatable.clickable-rows tbody tr:hover .displayed-aseo-version{
  color: #fff;
}

.displayed-aseo-version[data-name="eventType_Description"] {
  transform: translateX(1.5rem);
}

/*GUI notifications*/
.aseo-style .component.groupbox legend {
  letter-spacing: 1px;
}
.aseo-style .component.label[data-name="label_notificationsMessages"] div {
  font-size: 1.2em;
}
.aseo-style .component.groupbox.aseo-warning-isErrorPanel legend {
  color: red;
  font-weight: 700;
}
.aseo-style .component.groupbox.aseo-warning-isErrorPanel fieldset.container {
  border: 2px solid #c0392b;
}
.aseo-style .component.groupbox.test_aseo-warning-isErrorPanel
  .aseo-warning-isErrorFont
  div {
  color: red;
  font-weight: 500;
}

/* << Components >> */
/* Main button - blue color */
.aseo-style .m8-button > button,
.aseo-style sffw-imagebutton.component > button {
  letter-spacing: 0.5px;
}
.aseo-style .m8-button > button,
.aseo-style sffw-imagebutton.component > button {
  background-color: #34acdc;
}

.aseo-style .m8-button > button:hover,
.aseo-style sffw-imagebutton.component.buttonDefNoBorder > button:hover {
  background-color: #2989b0;
  border: 1px solid #e3835c;
}

.aseo-style .m8-button > button:focus,
.aseo-style sffw-imagebutton.component > button:focus {
  background-color: #1f6784;
  border: 1px solid #eaa285;
}

.aseo-style .m8-button > button:disabled,
.aseo-style sffw-imagebutton.component > button:disabled {
  background-color: #a3c0cc;
}

/* Green buttons */
div.m8-button.greenBtn > button,
sffw-imagebutton.component.greenBtn > button {
  padding: 0.5rem 0.75rem;
  background-color: #27ae60;
  color: #fff;
}

div.m8-button.greenBtn > button:hover,
sffw-imagebutton.component.greenBtn > button:hover {
  background-color: #208e4e;
  border: 1px solid #57d68d;
  padding: 7px 11px;
}

div.m8-button.greenBtn > button:focus,
sffw-imagebutton.component.greenBtn > button:focus {
  background-color: #16a085;
  border: 1px solid #1abc9c;
  padding: 7px 11px;
}

div.m8-button.greenBtn > button:disabled,
sffw-imagebutton.component.greenBtn > button:disabled {
  background-color: #cdf4dd;
  color: #000;
}

div.m8-button.greenBtn > button:disabled:hover,
sffw-imagebutton.component.greenBtn > button:disabled:hover {
  background-color: #adedc8;
  color: #000;
}
/* Blue buttons */
div.m8-button.blueBtn > button,
sffw-imagebutton.component.blueBtn > button {
  padding: 0.5rem 0.75rem;
  background-color: #2980b9;
  color: #fff;
}

div.m8-button.blueBtn > button:hover,
sffw-imagebutton.component.blueBtn > button:hover {
  background-color: #22638f;
  border: 1px solid #5cace2;
  padding: 7px 11px;
}

div.m8-button.blueBtn > button:focus,
sffw-imagebutton.component.blueBtn > button:focus {
  background-color: #1f5b83;
  border: 1px solid #70b6e5;
  padding: 7px 11px;
}

div.m8-button.blueBtn > button:disabled,
sffw-imagebutton.component.blueBtn > button:disabled {
  background-color: #c7e1f3;
  color: #000;
}

div.m8-button.blueBtn > button:disabled:hover,
sffw-imagebutton.component.greenBtn > button:disabled:hover {
  background-color: #97c8e8;
  color: #000;
}
/* Required checkbox */
.aseo-style .m8-checkbox .required input {
  position: relative;
}
.aseo-style .m8-checkbox .required input:after {
  position: absolute;
  left: 1.3rem;
  top: -0.25rem;
  padding: 0.25rem;
  font-family: FontAwesome;
  content: "\f071";
  font-size: 1em;
  font-weight: 400;
  color: #70e01b;
  background-color: #fff;
  letter-spacing: 1px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #70e01b;
}
.aseo-style .m8-checkbox .required:focus input:after,
.aseo-style .m8-checkbox .required:hover input:after {
  width: 10rem;
  top: 1rem;
  left: 1.5rem;
  padding: 2px;
  border-radius: 5px;
  background-color: #b0c4de;
  font-family: Arial, Helvetica, sans-serif;
  content: "Povinné vyplnění, pokud odesílaná zpráva má povinně obsahovat údaje z dané záložky.";
  font-size: 1.1em;
  color: #464e58;
  border: 0;
  height: fit-content;
}
/* Validation summary head style */
.aseo-style .sffw-validation-summary table thead {
  background-color: #e74c3c;
  border: 1px solid #ac2315;
}
/* Confirm action box */
.aseo-style .confirmBox fieldset legend {
  color: #e74c3c;
  font-size: 1rem;
}
.aseo-style .confirmBox fieldset {
  border-left: 2px solid #e74c3c;
}
/* <<other>> */
.aseo-style .displayed-aseo-version[data-name="eventType_Description"] ::before {
  /*content: ">>";*/
  position: absolute;
  font-size: 1.3em;
  top: 0.5rem;
  left: -1.25rem;
  color: #2c3e50;
  font-family: FontAwesome;
  /*content: "\f06e"; icon eye*/
  content: "\f0a4"; /*icon hand*/
}
.aseo-style .component.label.fileTypeWordBreak div{
  word-break: break-all;
}

/* custom button display of row of buttons*/
.aseo-style .elo-panel-wrap div.panel-cell {
  display: initial;
  width: auto !important;
  float: left;
}
.aseo-style .width-auto {
  width: auto !important;
}
.aseo-style .elo-fixed-button {
  width: 9.4rem !important;
  height: 3.2rem;
}
/* fix of prefix width in header */
.aseo-style .prefixCZ.textbox input.editor-value {
  min-width: 1.5rem;
}
.aseo-style .serverValidationWidth table {
  width: 100%;
}
/* paging repeater */
.sffw-paging-repeater-ctrl-container .sffw-paging-repeater-ctrl-add::before,
.sffw-paging-repeater-ctrl-container .sffw-paging-repeater-ctrl-remove::before,
.sffw-paging-repeater-ctrl-container .sffw-paging-repeater-ctrl-left::before,
.sffw-paging-repeater-ctrl-container .sffw-paging-repeater-ctrl-right::before
{color: #000;}