/* -- Generic styles -- */
body{
	background-color: var(--light-gray-color);
}

/* -- Pattern: Font styles -- */
.font1rem5{
	font-size: 1.5rem;
}

.font1rem2{
	font-size: 1.2rem;
}

.textAlignCenter{
	text-align: center;	
}

/* -- Pattern: Position patterns -- */

.paddingTop{
	padding-top: 24px !important;
}

.paddingBottom{
	padding-bottom: 24px !important;
}

.paddingLeft{
	padding-left: 9.5% !important;
}

.paddingRigth{
	padding-right: 9.5% !important;
}

.paddingLeftSmall{
	padding-left: 6px !important;
}

.paddingRigthSmall{
	padding-right:  6px !important;
}

div.paddingAllSides {
	padding: 8px 8px;
}

div.panel-auto-fit-height.panel-cell.panel-h-stretch div.component.container.container-component.panel.v-panel.panel_declist {
	padding: 8px 8px;
}

.pushElmentRight{
	transform: translateX(13px);
}

/* -- Pattern: Color patterns -- */
.blueBoldColor{
	color: var(--main-blue-color);
	font-weight: bold;
}

.boldFont{
	font-weight: bold;
}

.liveFontColor{
	color: var(--live-orange-color);
}

.lightFontColor{
	color: var(--light-blue-color);
}

.whiteShadow{
	text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
}

.bottomBorder {
	border-bottom: 2px solid var(--main-blue-color);
}

.specialColor{
	background-color: var(--special-color);
	color: #000;
}

.specialColor:hover{
	background-color: var(--special-color-hover);
	color: #fff;
}

.liveOrangeBackground {
	background-color: var(--live-orange-color);
}

.mainBlueBackground {
	background-color: var(--main-blue-color);
}

.lightBlueBackground{
	background-color: var(--light-blue-color);
}

.midGrayBackground{
	background-color: var(--middle-gray-color);
}

.lightBlueSideBorder{
	border-left: 1px solid var(--light-blue-color);
	border-right: 1px solid var(--light-blue-color);
}

.lightBlueBottomBorder{
	border-bottom: 1px solid var(--light-blue-color);
}

.lightBlueAllRoundBorder{
	border: 1px solid var(--light-blue-color);
}

.lightGrayColor {
	color: var(--light-gray-color);
}

.whiteFontColor{
	color: #fff;
}

.whiteBackground{
	background-color: #fff;
}

/* -- Pattern: Color patterns -- Warning colors -- */

.warningBox{
	border: 2px dotted var(--live-orange-color);
}

.warningColor{
	color: red;
	font-weight: 700;
}
.warningColor > div > label > input.editor-value{
	border: 2px solid red;
}

/* -- Pattern: Color patterns -- Warning for edits -- */

.cautionUnderline{
	border-bottom: 2px dotted var(--live-orange-color);
}

.cautionUnderline::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.cautionUnderline::before {
    font-family: FontAwesome;
    font-weight: 900; 
    content: "\f040";/* font awesome icon uni-code pensil*/
    color: var(--live-orange-color);
    font-size: 1.5rem;
    position: absolute;
    left: -1rem;
    top: 0rem;
    opacity: 0.75;
}

.openVersionIconMain::after{
	color: var(--main-blue-color);
	font-family: FontAwesome;
    font-weight: 900; 
    content: "\f06e";
    font-size: 1.5rem;
    opacity: 0.75;
}

.openVersionIconMain.openVersionIconLeft::after{
	margin-left: 1.5rem;
}

.openVersionIconMain.openVersionIconRight::after{
	margin-left: calc(50% - 1.5rem);
}

div.component.label.m8-label.blueBoldColor.openVersionIconMain {
    z-index: 2;
}

div.openVersionIconMain > div {
	display: inline;
}

/* Necessary position setting for parent element */
div.cautionUnderline.component.container.container-component.h-panel.m8-panel.panel {
    position: relative;
}
div.checkbox.component.editor.m8-checkbox.cautionUnderline {
    position: relative;
}

/* -- Object Alignment -- */
.blockDisplay{
    display: block;
}

.floatLeft{
	float: left;
}

.floatRigth{
	float: right;
}

.centerPosition{
	margin: 0 auto;
}

/* -- panel manipulation -- */
.panelAnimationHeight {
	transition: height 0.5s ease-in 1s;
}

.panelZeroHeight{
	height: 0;
}

.panelRegularHeight{
	height: 100%;
}

/*for testing*/
.redTestBorder{
	border: 2px dashed red;
	border: 0;
}

/* -- Other -- */

.minimalHeight {
  	min-height: 80vh;
}

.minHeight19vh{
	min-height: 19vh;
}

.minimalTabPageHeight{
    min-height: 50vh;
}

.minimalListHeight{
	min-height: 50vh;
}

.roundBorder {
	border-radius: var(--border-radius) var(--border-radius);
}

.roundBorderTop {
    border-top-left-radius: var(--border-radius);
  	border-top-right-radius: var(--border-radius);
}

.topMargin {
	margin-top: 12px;
}

.paddingTop{
	padding-top: 12px;
}

.paddingBottom{
	padding-bottom: 12px;
}

div.noPaddingBottom, div.noPaddingBottom div.panel-row div.component{
	padding-bottom: 0;
}

div.noPaddingTop div.component[data-name=tabsMenu]{
	padding-top: 0;
}


.lastTypeIsHidden:last-of-type{
	display: none;
	visibility: hidden;
}

.wordBreak{
    -ms-word-break: break-all;
        word-break: break-all;
}

div.component.container.container-component.panel[data-name=pnlValidationPreference] .editor .editor-wrapper.caption-position-left label div.caption-wrap {
	width: 466px;
}

/*<< Document Elements >>*/
/*<< Document Elements -- default button --- >>*/
.m8-button > button {
    padding: 0.5rem 0.75rem;
    background-color: var(--live-orange-color);
    font-weight: 500;
}

.m8-button > button:hover {
    background-color: var(--light-blue-color);
    border: 1px solid var(--live-orange-color);
    padding: 7px 11px;
}

.m8-button > button:focus {
    background-color: var(--main-blue-color);
    border: 1px solid var(--light-blue-color);
    padding: 7px 11px;
}

/*<< Document Elements -- disabled button --- >>*/
.disabledButton.m8-button > button {
    background-color: var(--dark-gray-color);
    cursor: not-allowed;
    /*pointer-events: none;*/
}

.disabledButton.m8-button > button:hover {
	color: var(--general-black);
    background-color: var(--light-gray-color);
}

.disabledButton.m8-button > button:focus {
    background-color: var(--dark-gray-color);
    color: #fff;
    border: 1px solid var(--light-blue-color);
}

/*<< Document Elements -- other elements --- >>*/

.noResize textarea{
	resize: none;
}

/*-- CD-Client original styles --*/


.common-cn-code.editor .editor-wrapper.caption-position-left label input.editor-value,
.common-cn-code.editor .editor-wrapper.caption-position-top label input.editor-value,
.common-cn-code.editor .editor-wrapper.caption-position-left label sffw-labeledtext .editor-value,
.common-cn-code.editor .editor-wrapper.caption-position-top label sffw-labeledtext .editor-value {
  width: 12em;
}

.common-co-code.editor .editor-wrapper.caption-position-left label input.editor-value,
.common-co-code.editor .editor-wrapper.caption-position-top label input.editor-value,
.common-co-code.editor .editor-wrapper.caption-position-left label sffw-labeledtext .editor-value,
.common-co-code.editor .editor-wrapper.caption-position-top label sffw-labeledtext .editor-value {
  width: 10em;
}

.national-data-goods-item-cn-code .editor-wrapper.caption-position-left label div.caption-wrap {
  width: 60px;
}

.national-data-goods-item-quantity .editor-wrapper.caption-position-left label div.caption-wrap {
  width: 100px;
}

.national-data-goods-item-quantity .editor-wrapper.caption-position-left label input.editor-value,
.national-data-goods-item-quantity .editor-wrapper.caption-position-top label input.editor-value,
.national-data-goods-item-quantity .editor-wrapper.caption-position-left label sffw-labeledtext .editor-value,
.national-data-goods-item-quantity .editor-wrapper.caption-position-top label sffw-labeledtext .editor-value {
  width: 80px;
}

.national-data-goods-item-article86 {
  width: 150px;
}

.national-data-goods-item-article86 .editor-wrapper.caption-position-left label div.caption-wrap {
  width: 110px;
}

.national-data-goods-item-cn-code-securing .editor-value,
.national-data-goods-item-cn-code-article73da .editor-value {
  max-width: 10em;
}

/*-- List Table --*/
.panel_declist.minimalListRowHeight div.panel-table div.sffw-list table tr {
    height: 48px; /*fall-back rule*/
    height: 3rem;
}

.pnlListGoodsItemsCZ div.component div.sffw-list table tr{
	height: 24px;/*fall-back rule*/
	height: 1.5rem;
}

.pnlListGoodsItemsCZ div.component div.sffw-list table tr td {
	padding-top: 6px;
	padding-bottom: 6px;
	padding-top: 0.375rem;
	padding-bottom: 0.375rem;
}

.tableBottom, table[role=table] thead {
    border-bottom: 2px solid var(--light-blue-color);
    background: #d6d6d6;
}

/*-- CD-Client new style edits --*/
div.component[data-name=commonNationalData] div.component[data-name=commonNationalDataEnumInfo] fieldset legend {
    width: 50%;
}

/* -- Tabs -- */
div.sffw-tabs ul[role=tablist] li.sffw-tab.tabItemStyle {
	background-color: var(--general-blue-theme) !important; 
	transition: all 0.5s linear 0.2s !important;	
}

div.sffw-tabs ul[role=tablist] li.sffw-tab.tabItemStyle a {
	transition: all 0.5s linear 0.2s !important;
	color: #fff !important;
	font-size: 120% !important;
}

div.sffw-tabs ul[role=tablist] li.sffw-tab-selected.tabItemStyle{
	background-color: var(--live-orange-color) !important;
}

div.sffw-tabs ul[role=tablist] li.sffw-tab.tabItemStyle:not(.sffw-tab-selected):hover {
	background-color: var(--main-blue-color) !important;
}

div.sffw-tabs ul[role=tablist] li.sffw-tab.tabItemStyle:not(.sffw-tab-selected):hover a{
	font-weight: bold !important;
}

.tabs-detail .sffw-tabs ul>li.sffw-tab{
	transition: all 0.5s linear 0.2s;
}

div.panel.tabs-detail div.sffw-tabs ul[role=tablist] > li.sffw-tab.enhancement-attention-needed:hover {
    background-color: var(--special-color) !important;
    color: white;
    border: 1px solid var(--live-orange-color) !important;
    font-size: 1.1em;
}

/* -- National Enhancement -- */
div.component.editor.enumradiogroup.enumradiogroup-horizontal.enhancement-attention-needed, div.component.container.panel.enhancement-attention-needed {
	border: 2px dotted var(--live-orange-color);
	border-right: 0;
}

div.component.editor.enumradiogroup.enumradiogroup-horizontal.enhancement-attention-needed::before, div.component.container.panel.enhancement-attention-needed::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
/* -- National Enhancement -- for SASP accounts in CCL */
div.component.container.container-component.h-panel.m8-panel.panel.anchorRelativePosition.enhancement-attention-needed{
	position: relative;
}

div.component.editor.enumradiogroup.enumradiogroup-horizontal.enhancement-attention-needed::before,
div.component.container.panel.enhancement-attention-needed::before {
    font-family: FontAwesome;
    font-weight: 900; 
    content: "\f040";/* font awesome icon uni-code pensil*/
    color: var(--live-orange-color);
    font-size: 1.5rem;
    position: absolute;
    left: -0.5rem;
    top: -1.0rem;
    opacity: 0.75;
}

div.component.container.container-component[data-name="pnlNarodniUdaje"] div[data-name="commonNationalDataEnumInfo"] div.anchorRelativePosition.enhancement-attention-needed {
    position: relative;
}

/* -- Annex Counters with CSS -- */
.counter-parent{
   padding: 1rem 1rem;
   counter-reset: counter-name;
}

.counter-child{
   position: relative;
}

.counter-child::before{
   counter-increment: counter-name;
   content: counter(counter-name);
   position: absolute;
   left: -1.1rem;
   top: 0.4rem;
   background: var(--light-gray-color);
   width: 2em;
   height: 2em;
   box-sizing: border-box;
   
   display: flex;
   justify-content: center;
   align-items: center;
   
   color: #000;
   font-weight: 600;
   
   border-radius: 50%;
   border: 2px solid var(--live-orange-color);
}