.arc
	&-accordition
		height: auto;
		min-height: 500px;
		background: #fff;

		.dt
			background: #fff; 
			cursor: pointer; 

		.dd
			background: #fff; 
			height: auto;
			display none

				
		&-panel
			background: #fff; 
			height: auto;
		
.height
	&-transition
		transition: max-height 0.5s ease-in-out
		overflow-y: hidden

	&-transition-hidden
		max-height: 0

	&Auto
		height:auto;