html body
	.editor
		label
			vertical-align: middle

		textarea 
			min-height: 3em 

		&-value 
			width: 100% 

		&-wrapper 
			width: 100% 
		
			&.caption
				&-position
					&-hide
						label 
							display: block
							width: 100% 
					
						div.caption-wrap 
							display: none 

						input:not([type='checkbox']):not([type='radio']) 
							width: 100%
							display: block 

						input[type='checkbox'] 
							width: auto
							display: block 

					&-left, &-right 
						display: table 
			
						label 
							display: table 

							div.caption-wrap
								display: table-cell 

						input:not([type='checkbox']):not([type='radio'])
							width: 100%
							display: table-cell 
					
						input[type='checkbox']	
							width: auto
							display: table-cell 
				
					&-left
						label 
							width: 100% 

						div.caption-wrap 
							width: 150px 

					&-right
						label div.caption-wrap 
							Padding-left: 0.5em 

					&-top 
						display: block 
					
						label 
							display: table
							width: 100% 
							
							div.caption-wrap 
								display: block
								width: 100% 
						input:not([type='checkbox']):not([type='radio']) 
							display: block
							width: 100% 

						input[type='checkbox'] 
							width: auto
							display: block 

				&-valign
					&-top
						label
							.caption-wrap 
								vertical-align: top 
			
					&-bottom
						label
							.caption-wrap 
								vertical-align: bottom 

					&-middle
						label
						.caption-wrap 
							vertical-align: middle 


				&-halign
					&-left
						label
							.caption-wrap 
								text-align: left 
		
					&-right
						label
							.caption-wrap 
								text-align: right 

					&-center
						label
							.caption-wrap 
								text-align: center 


				&-wrap 
					position: relative 

			.editor-tooltip-icon 
				float: right
				padding-right: 0.5em 
				
				&::before 
					content: '?' 

		.error 
			color: red 
		
			& + input 
				border-color: red 

			&Text 
				color: red
				font-size: 80%
				position: absolute
				margin-top: -3px 