.arc
	&-languages
		position: fixed;
		bottom: 0
		max-width: 263px;
		left: 0;
		z-index: 99;

		button
			width: 100% !important
			background transparent !important
			color: var(--dark2-grey)

		.panel-cell
			width: 50% !important

		.button
			width: 100% !important

.arc-languageActive
	&:hover
		background-color transparent !important 

	a
		font-weight bold  
	
		&:hover
			text-decoration underline !important

	button
		border-bottom: 2px var(--red-dark) solid

.custom-sel a {
	text-decoration: none;
	text-transform: uppercase;
	margin: 0;
	padding: 10px;
	text-align: left;
	font-family: 'Raleway';
	color: var(--dark25-grey);
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;
	display: block;
}

.custom-sel a:hover {
	text-decoration: none;
	background-color: var(--light3-grey);
	color: var(--white);
}

.custom-sel a.selected {
	background-color: transparent;
}

.custom-sel a.selected:hover {
	background-color: transparent;
	color: var(--dark25-grey);
}

.hidden {
	display: none;
}

.lightblue {
	color: var(--blue);
	margin-left: -4px;
}

.show-sel {
	background-color: var(--white);
	box-shadow: -5px 0px 65px 0px var(--grey-opacity-18);
}

.custom-sel {
	margin: 30px;
	display: inline-block;
}


// Custom dropdown