.arc
	&-headings
		min-height: 113px !important;
		background-color: #06599D !important;
		position: fixed;
		border-bottom: 1px solid #dfdfdf;
		top: 0;
		left: 0;
		display: block;
		max-width: 263px;
		z-index: 999;
		color: #fff;

		.arc
			&-name *
				font-weight: 300;
				font-size: 30px !important;
				letter-spacing: 0.01em;
				margin: 0px;
				text-align center
				display block
				text-decoration none
				color: #000
				text-align center

			&-title *
				font-weight: 300;
				font-size: 18px !important
				letter-spacing: 0.02em;
				margin: 0px;
				text-align center
			
			&-subtitle *
				font-weight: 300;
				font-size: 18px !important;
				letter-spacing: 0.02em;
				margin: 0px;
				text-align center

		h4
			text-align center

	&-declistHeadings
		min-height: 63px !important;
		border-bottom: 1px solid #dfdfdf;

		.arc-name *
			padding-top: 0px

	&-headings h4
		text-align center
	
	&-labelPrimary
		position: relative;
		margin-bottom: -1px; 

		h3
			font-weight bold; 

	&-larger
		h3
			font-size: 18px;
			line-height: 25px;
			cursor: pointer;
			font-weight bold; 
			padding: 6px;

		h5
			padding-left: 0px;
			padding-top: 0px;
			text-align center
			
	&-title
		text-align center