.marble
	display: block;
	color: var(--dark05-grey);
	width: 24px;
	height: 24px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	line-height: 20px;
	border-radius: 50%;
	border 1px var(--dark-pink) solid

	&:before
		content: " ";
		display: block;
		position: absolute;
		font-weight: bold;
		left: 50%;
		top: 50%;
		font-size: 14px;
		color: var(--white) !important;
		transform: translate(-50%, -50%);
		text-shadow: -1px 0 var(--dark-pink), 0 1px var(--dark-pink), 1px 0 var(--dark-pink), 0 -1px var(--dark-pink);

html[lang="en"] .marble,
html[lang="me"] .marble,
html[lang="sr"] .marble
	&-B
		background-color: var(--light2-green);

		&:before
			content: "B"

	&-V
		background-color: var(--danger-red);

		&:before
			content: "V"

	&-S
		background-color: var(--full-orange);

		&:before
			content: "S"

	&-N
		background-color: var(--yellow);

		&:before
			content: "N"
