.arc

.sffw-validation-summary table
	width: 100%

.alternate-rows.datatable-table.hover-highlight tr:first-child:hover
	background-color: var(--white) !important
	box-shadow: none !important


table *
	outline none

.arc-history td
	min-height: 47px
	height: 47px
	Position: relative

.arc-history td button
	position absolute
	left: 10px;
	max-width: 150px;
	right: 10px;
	max-height: 30px !important	
	min-height: 30px !important
	line-height 13px !important
