.tabs
	list-style: none;
	text-align: center;
	margin: 0;
	padding: 0;
	display block
	margin: 0 auto
	margin-bottom: 15px !important
	margin-top: 0 !important
	padding-top: 10px !important
	transform: translateY(0px) !important;
	background: #06599D
	height: 105px

	.panel-cell.panel-h-filling
		display none

	.panel-row:first-child
		.panel-cell:nth-child(2)
			a
				border-left: 1px solid #dfdfdf;		
 

.tab
	padding 0 !important 

	a
		user-select: none;
		display: block;
		width: 100%;
		color: #000;
		font-size: 1.1em;
		cursor: pointer;
		background-color: #fff;
		-webkit-transition-property: background-color, color;
		transition-property: background-color, color;
		transition-duration: 200ms;
		text-decoration none
		
		&:hover
			color: var(--red-solid)

	&.tab-selected
		bottom -1px

		a
			background #fff
			font-weight: 500

	&.tab-disabled a
		cursor: not-allowed;
		pointer-events none;
		opacity: 0.6;
		background: #f5f9fa;

	&.tab-disabled a::after
		height: 0 !important

	.arc-hyperlink
		border-left: 0 !important
		
#panels
	background-color: white;

	.container
		margin: 0 auto;
		width: 90%;
	
	section
		header a
			padding: 12px 18px;
			box-sizing: border-box;

		main
			box-sizing: border-box;
			max-height: 0;
			opacity: 0;
			-webkit-transition: opacity 600ms;
			transition: opacity 600ms;
			overflow-y: hidden;

#panel-1-ctrl:checked ~ #panels #panel-1 main
	max-height: initial;
	opacity: 1;
	padding: 48px 24px;

#panel-2-ctrl:checked ~ #panels #panel-2 main
	max-height: initial;
	opacity: 1;
	padding: 48px 24px;

#panel-3-ctrl:checked ~ #panels #panel-3 main
	max-height: initial;
	opacity: 1;
	padding: 48px 24px;

#panel-4-ctrl:checked ~ #panels #panel-4 main
	max-height: initial;
	opacity: 1;
	padding: 48px 24px;

#panel-5-ctrl:checked ~ #panels #panel-5 main
	max-height: initial;
	opacity: 1;
	padding: 48px 24px

.li-for-panel-1, .li-for-panel-1 a
	border-top-left-radius: 0.3rem;

.li-for-panel-5, .li-for-panel-5 a
	border-top-right-radius: 0.3rem;


@media all and (max-width: 767px)
	#nav-ctrl:checked ~ .tabs .li-for-panel-1
		max-height: 46px;
		opacity: 1;


	#nav-ctrl:checked ~ .tabs .li-for-panel-2
		max-height: 46px;
		opacity: 1;


	#nav-ctrl:checked ~ .tabs .li-for-panel-3
		max-height: 46px;
		opacity: 1;


	#nav-ctrl:checked ~ .tabs .li-for-panel-4
		max-height: 46px;
		opacity: 1;


	#nav-ctrl:checked ~ .tabs .li-for-panel-5
		max-height: 46px;
		opacity: 1;


	#open-nav-label
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		cursor: pointer;


	#nav-ctrl:checked ~ .tabs #open-nav-label
		display: none;


	#close-nav-label
		display: block;
		max-height: 0;
		overflow-y: hidden;
		background-color: #444444;
		color: #ecf0f1;
		padding: 0px;
		-webkit-transition: max-height 200ms;
		transition: max-height 200ms;
		cursor: pointer;
		text-transform: uppercase;
		font-size: 12px;
		line-height: 22px;
		letter-spacing: 1px;


	#nav-ctrl:checked ~ .tabs #close-nav-label
		max-height: 36px;
		opacity: 1;
		padding: 12px 24px;


	.tabs
		position: relative;

	.tabs .tab a
		padding: 12px 0;

	.tabs .li-for-panel-1
		max-height: 0;
		overflow-y: hidden;
		-webkit-transition: max-height 200ms;
		transition: max-height 200ms;

	.tabs .li-for-panel-2
		max-height: 0;
		overflow-y: hidden;
		-webkit-transition: max-height 200ms;
		transition: max-height 200ms;

	.tabs .li-for-panel-3
		max-height: 0;
		overflow-y: hidden;
		-webkit-transition: max-height 200ms;
		transition: max-height 200ms;

	.tabs .li-for-panel-4
		max-height: 0;
		overflow-y: hidden;
		-webkit-transition: max-height 200ms;
		transition: max-height 200ms;

	.tabs .li-for-panel-5
		max-height: 0;
		overflow-y: hidden;
		-webkit-transition: max-height 200ms;
		transition: max-height 200ms;


	#panel-1-ctrl:checked ~ .tabs .li-for-panel-1
		max-height: 46px;
		opacity: 1;

	#panel-1-ctrl:checked ~ .tabs .li-for-panel-1 a
		background-color: white;
		color: #c0392b;
		background-color: #c0392b;
		color: white;


	#panel-2-ctrl:checked ~ .tabs .li-for-panel-2
		max-height: 46px;
		opacity: 1;

	#panel-2-ctrl:checked ~ .tabs .li-for-panel-2 a
		background-color: white;
		color: #c0392b;
		background-color: #c0392b;
		color: white;


	#panel-3-ctrl:checked ~ .tabs .li-for-panel-3
		max-height: 46px;
		opacity: 1;

	#panel-3-ctrl:checked ~ .tabs .li-for-panel-3 a
		background-color: white;
		color: #c0392b;
		background-color: #c0392b;
		color: white;


	#panel-4-ctrl:checked ~ .tabs .li-for-panel-4
		max-height: 46px;
		opacity: 1;

	#panel-4-ctrl:checked ~ .tabs .li-for-panel-4 a
		background-color: white;
		color: #c0392b;
		background-color: #c0392b;
		color: white;


	#panel-5-ctrl:checked ~ .tabs .li-for-panel-5
		max-height: 46px;
		opacity: 1;

	#panel-5-ctrl:checked ~ .tabs .li-for-panel-5 a
		background-color: white;
		color: #c0392b;
		background-color: #c0392b;
		color: white;


	#panels .container
		width: 100%;

	#panels section header
		display: block;


@media all and (min-width: 768px)
	#panel-1-ctrl:checked ~ .tabs .li-for-panel-1
		pointer-events: none;
		cursor: default;
		transform: translate3d(0, 1px, 0);
		box-shadow: none;
		border-right: none;

	#panel-1-ctrl:checked ~ .tabs .li-for-panel-1.last
		border-right: 1px solid transparent;

	#panel-1-ctrl:checked ~ .tabs .li-for-panel-1 + li
		border-left: 1px solid #dfdfdf;

	#panel-1-ctrl:checked ~ .tabs .li-for-panel-1 a
		background-color: white;
		color: #c0392b;
		padding-top: 26px;

	#panel-1-ctrl:checked ~ .tabs .li-for-panel-1 a::after
		height: 6px;


	#panel-2-ctrl:checked ~ .tabs .li-for-panel-2
		pointer-events: none;
		cursor: default;
		transform: translate3d(0, 1px, 0);
		box-shadow: none;
		border-right: none;

	#panel-2-ctrl:checked ~ .tabs .li-for-panel-2.last
		border-right: 1px solid transparent;

	#panel-2-ctrl:checked ~ .tabs .li-for-panel-2 + li
		border-left: 1px solid #dfdfdf;

	#panel-2-ctrl:checked ~ .tabs .li-for-panel-2 a
		background-color: white;
		color: #c0392b;
		padding-top: 26px;

	#panel-2-ctrl:checked ~ .tabs .li-for-panel-2 a::after
		height: 6px;


	#panel-3-ctrl:checked ~ .tabs .li-for-panel-3
		pointer-events: none;
		cursor: default;
		transform: translate3d(0, 1px, 0);
		box-shadow: none;
		border-right: none;

	#panel-3-ctrl:checked ~ .tabs .li-for-panel-3.last
		border-right: 1px solid transparent;

	#panel-3-ctrl:checked ~ .tabs .li-for-panel-3 + li
		border-left: 1px solid #dfdfdf;

	#panel-3-ctrl:checked ~ .tabs .li-for-panel-3 a
		background-color: white;
		color: #c0392b;
		padding-top: 26px;

	#panel-3-ctrl:checked ~ .tabs .li-for-panel-3 a::after
		height: 6px;


	#panel-4-ctrl:checked ~ .tabs .li-for-panel-4
		pointer-events: none;
		cursor: default;
		transform: translate3d(0, 1px, 0);
		box-shadow: none;
		border-right: none;

	#panel-4-ctrl:checked ~ .tabs .li-for-panel-4.last
		border-right: 1px solid transparent;

	#panel-4-ctrl:checked ~ .tabs .li-for-panel-4 + li
		border-left: 1px solid #dfdfdf;

	#panel-4-ctrl:checked ~ .tabs .li-for-panel-4 a
		background-color: white;
		color: #c0392b;
		padding-top: 26px;

	#panel-4-ctrl:checked ~ .tabs .li-for-panel-4 a::after
		height: 6px;


	#panel-5-ctrl:checked ~ .tabs .li-for-panel-5
		pointer-events: none;
		cursor: default;
		transform: translate3d(0, 1px, 0);
		box-shadow: none;
		border-right: none;
		

	#panel-5-ctrl:checked ~ .tabs .li-for-panel-5.last
		border-right: 1px solid transparent;

	#panel-5-ctrl:checked ~ .tabs .li-for-panel-5 + li
		border-left: 1px solid #dfdfdf;

	#panel-5-ctrl:checked ~ .tabs .li-for-panel-5 a
		background-color: white;
		color: #c0392b;
		padding-top: 26px;

	#panel-5-ctrl:checked ~ .tabs .li-for-panel-5 a::after
		height: 6px;

	.tabs
		text-align: center;

	.tabs .tab
		display: inline-block;
		text-align: center;
		font-size: 0.875em;
		width: 18%;
		box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.05);
		border-right: 1px solid #dfdfdf;
		position: relative;
		margin-top: 25px;

		&.collapsed
			display none

		&.tab-selected a::after
			height: 6px;


	.tabs .tab:hover
		transition: none;

	.tabs .tab:hover.last
		border-right: 1px solid transparent;

	.tabs .tab:hover + .tab
		border-left: 1px solid #dfdfdf;

	.tabs .tab a
		position: relative;
		padding: 18px 0;
		text-transform: uppercase;
		letter-spacing: 0.1rem;
		line-height: 16px;

	.tabs .tab a::after
		content: "";
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 100%;
		background-color: var(--red-solid)
		height: 0;
		transition-property: height;
		transition-duration: 200ms;
		border-top-right-radius: 0.35rem;
		border-top-left-radius: 0.35rem;

	.tabs .tab a:hover
		padding-top: 18px;

	.tabs .tab a:hover::after
		height: 6px;


	#open-nav-label,
	#close-nav-label
		display: none;


	#nav-ctrl
		display: none;


@media all and (min-width: 900px)
	main
		width: 70%;
		margin: 0 auto;


div.tab-nav
	list-style: none;
	border-bottom: 1px solid #bbb;
	padding-left: 5px;

div.tab-nav .arc-button
	display: inline;

div.tab-nav button
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: -1px;
	border-bottom: none;

div.tab-nav a.active.button
	border-bottom: 0.175em solid #fff;

.tab-content .tab-pane
	display: none;

.tab-content .tab-pane.active
	display: block;
	

.arc-tabs
	background #FFF 