.tooltip-text
	display: inline-block
	width: -webkit-max-content !important
	width: -moz-max-content !important
	width: max-content !important
	max-width: 300px
	background: lightsteelblue
	position: absolute
	z-index: 1001
	padding: 0.5em
	border-radius: 0.25em
	line-height: initial
	text-align: initial
	font-weight: normal

	&:before
		content: " "
		width: 0
		height: 0
		border-left: 10px solid transparent
		border-right: 10px solid transparent
		border-top: 10px solid lightsteelblue
		position: absolute
		bottom: -5px
		left: 40%
