.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes scale-up-center {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}


.scale-from-right {
	-webkit-animation: scale-from-right 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-from-right 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-from-right {
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		right: -100%;
		opacity 0;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		right: 0;
		opacity 1;
	}
}

@keyframes scale-from-right{
	0% {
		-webkit-transform: scale(0.5);
		transform: scale(0.5);
		right -100%;
		opacity 0;
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
		right: 0;
		opacity 100%;
	}
}


@-webkit-keyframes shake
	0%
		-webkit-transform: translate(0px, 0px)
		transform: translate(0px, 0px)
		border-color: orange
	25%
		-webkit-transform: translate(-5px, 0px)
		transform: translate(-5px, 0px)
		border-color: red
	50%
		-webkit-transform: translate(0px, 0px)
		transform: translate(0px, 0px)
		border-color: orange
	75%
		-webkit-transform: translate(5px, 0px)
		transform: translate(5px, 0px)
		border-color: red
	100%
		-webkit-transform: translate(0px, 0px)
		transform: translate(0px, 0px)
		border-color: orange

@keyframes shake
	0%
		-webkit-transform: translate(0px, 0px)
		transform: translate(0px, 0px)
		border-color: orange
	25%
		-webkit-transform: translate(-5px, 0px)
		transform: translate(-5px, 0px)
		border-color: red
	50%
		-webkit-transform: translate(0px, 0px)
		transform: translate(0px, 0px)
		border-color: orange
	75%
		-webkit-transform: translate(5px, 0px)
		transform: translate(5px, 0px)
		border-color: red
	100%
		-webkit-transform: translate(0px, 0px)
		transform: translate(0px, 0px)
		border-color: orange