html body .arc-notColorize
	.notifications-status-icon button
		min-height: 37px !important;
		max-height: 37px !important;

	.arc-nav-bar.tmp_icons	.declist-icon div.panel-cell button
		background transparent !important
		min-height: 39px !important
		max-height 39px !important

	button
		border: 1px #dcdcdc solid !important;
		box-shadow: 0 0.125rem 0.625rem rgba(238,238,238,.4), 0 0.0625rem 0.125rem rgba(238,238,238,.5) !important;
		color: #212529 !important;
		background-color: #fff !important;
	
	.notifications-status-icon
		background-color: #fff !important;
		box-shadow none 
		border 0

		.notification-trigger .notification-num
			right: 6px !important

		.notification-trigger
			box-shadow: none !important
			min-width 37px
			border-radius: var(--border-radius)
			border: 1px #dcdcdc solid !important;

	.declist-icon
		button
			border: 1px #dcdcdc solid !important;
			background-color transparent !important

	.arc-nav-bar
		&.tmp_icons .declist-icon div.panel-cell button:hover, .arc-imagebutton.active button
			background-color: transparent !important

	.arc-popup
		.fa-book a, .arc-logout button
			border: 1px #dcdcdc solid !important;
			background-color: transparent !important

			&:before
				color: #000;

			&:hover
				background-color: transparent !important
				
	.buttonToDelete
		border: 1px #dcdcdc solid !important;
		background-color transparent !important
		color: #212529 !important;
		
		&:hover
			box-shadow none !important