.develop
	opacity: 0.5
	bottom: 20px;
	right:20px 
	left: initial
	position: fixed;
	max-width: 300px
	min-height: 100px
	background: var(--white-opacity-40);
	box-shadow: var(--large-shadow)
	transition: .5s all

	&.reloaded
		opacity: 1
		-webkit-animation-timing-function: linear
		animation-timing-function: linear
		-webkit-animation: shake
		animation: shake
		-webkit-animation-duration: 0.5s
		animation-duration: 0.5s
		box-shadow: var(--large-shadow)
