// fonts.styl

headlineFonts(n)
	font-family: "Segoe UI Light", "Open Sans", "Helvetica Neue Light", "HelveticaNeue-Light", sans-serif
	font-size: n*54px
	font-size: n*3.375rem
	margin: 0
	font-weight: 300
