html body
	.sffw, sffw
	/*
		&-busy-indicator, &-incontent-wrapper
			width: 100vw;
			position: relative;
			left: 50%;
			right: 50%;
			top:0
			bottom:0
			margin-left: -50vw;
			z-index: 1000;
			margin-right: -50vw;
			background-color: rgba(203,203,203,.5)
*/

		&-notification-panel, &-growl-notification, &-collapsible-sticky-panel
			padding: 0 !important	
			

		&-validation-summary
			fieldset
			    background: var(--orange) !important; /* Line Serbia */

			thead
				background-color transparent !important
				border none !important
			
			th
				color #000 !important

			td
				background: var(--red-light) !important

		&-paging-repeater-ctrl
			&-title
				padding-left: 5px

			&-left, &-right, &-add, &-remove
				padding: 8px 16px
				border: 1px solid #ced4da
				outline: none
				background: #FFF
				border-radius: var(--border-radius)	
				transition: .3s all
				cursor: pointer

				&:hover
					background #ced4da

			&-add, &-remove
				&:before
					margin-left: -5px
					
			&-index-input
				width: 3em !important
				padding: 2px 8px !important
				margin-left: 1em
				text-align: center



		&-referencelookup input
			font-size: 12px !important


		&-busy-indicator-loadingimage
			top: initial !important;
	
		&-notification-panel,
		 &-growl-notification,
		  &-collapsible-sticky-panel
			padding: 0 !important


		&-notification-panel-status-icon
			position:relative
			height: initial !important;
			width: 39px !important;
			z-index: 999;
			

			.notification-trigger
				float: none
				margin: 0 !important
				color: #fff
				text-align center
				min-height: 39px;
				min-width 39px  
				height: 39px !important;
				padding: 0;
				outline none;
				border-radius: 0.35rem
				overflow hidden
				z-index 101 
				background-color var(--blue-light)

				&:after
					content: '';
					position: absolute;
					top: 0;
					left: 0;
					width: 0;
					height: 100%;
					background-color: rgba(255,255,255,0.4);
					transition: none;
					z-index 100 

				&:hover:after
					width: 120% !important;
					background-color: rgba(255,255,255,0) !important;
					transition: all 0.4s ease-in-out;
									
				.notification-num
					top: 5px;
					right: 5px;
					padding: 3px;
					line-height: 11px


		&-navigation-tree
			padding: 0 !important

		&-navigation-tree-node
			background-color: transparent
			border-left: 1em solid transparent
			padding: 12px 5px 10px 1em !important
			opacity: 1
			display: block
			margin-bottom: 0
			outline: none
			font-weight: normal
			font-size: 13px
			color: #6c757d
			cursor: pointer
			transition: .4s all

			&:hover, &:focus
				background: var(--blue-brightest)
				border-left: 1em solid var(--blue-brightest)

			&-selected
				border-left: 1em solid var(--blue-medium) !important

			&-indent-1
				margin-left: 0
				border-left: 2em solid transparent

				&.sffw-navigation-tree-node
					&:hover, &:focus
						border-left: 2em solid var(--blue-brightest)
		
					&-selected
						border-left: 2em solid var(--blue-medium) !important

			&-indent-2
				margin-left: 0
				border-left: 3em solid transparent
				
				&.sffw-navigation-tree-node
					&:hover, &:focus
						border-left: 3em solid var(--blue-brightest)

					&-selected
						border-left: 3em solid var(--blue-medium) !important

			&-indent-3
				margin-left: 0
				border-left: 4em solid transparent
				
				&.sffw-navigation-tree-node
					&:hover, &:focus
						border-left: 4em solid var(--blue-brightest)

					&-selected
						border-left: 4em solid var(--blue-medium) !important

		&-growl-notification
			display none !important
					
		.repeater-item
			&-vertical
				width: 100%
				
			&-horizontal
				display: inline-block

			& > .component
				width: 100%


		&-imagebutton
			&.active button
				transition: .4s all
				background-color: #43688e !important


		&-listgrid
			&-paging
				&-button
					padding: 13px 21px !important
					border-radius: var(--border-radius) !important

				select
					width: auto
					display: inline-block
					margin-left: 20px


			&-selected-row
				background-color: #f7dfda !important
				
				button
					display block !important
					

		&-list
					
			input, select
						padding: 0 3px !important;

			table thead th
				vertical-align top !important
				padding-bottom: 38px !important
				position relative

				span
					font-family var(--font-family-bold)
				
				.sffw-list-filter-wrap
					position absolute
					display block
					bottom:5px
					padding-right: 5px;


					.sffw-list-clear-glyph
						display none !important

					.sffw-list-filter-wrap-value
						display block

			&-sort-active
				font-weight bold

			&-ordering-glyph
				.fa-sort-alpha-asc, .fa-sort-alpha-desc
					&:before
						content: " "
						display block
						position absolute
						left: 0
						right: 0
						width 100%
						height 5px
						background-color var(--blue-medium) 
						transition: 0.4s all
						
				.fa-sort-alpha-asc:before
					top: -5px
					border-bottom-left-radius: 5px;
					border-bottom-right-radius: 5px;
					
				.fa-sort-alpha-desc:before
					bottom -1px
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
			.sffw-list table thead th.noselect
				//padding: 0.3rem;

			&-filter-wrap select
				max-height 28px 
		
			&-dd
				z-index 99 

			td > a
				padding-top: 0.7em !important;
				padding-bottom: 0.7em !important;
				padding-left: 0.25em !important;
				padding-right: 0.25em !important;
				
			tbody
				tr
					&.sffw-list-selected-row
						background-color: var(--blue-bright) !important
						
						&:hover
							background-color: var(--blue-bright) !important

					&:hover
						background-color: var(--blue-brightest) !important

			.declistNavLink
				color: var(--blue-dark);
				font-weight: bold;
				padding-bottom: 0.25rem;
				border-bottom: 1px dotted var(--blue-dark);
				transition: all 0.5s ease 0.3s;

				&:hover
					color: var(--blue-dark);
					border-bottom: 1px dotted var(--blue-dark);

			&-filter-active
				background-color: rgba(203,203,203,0.3) !important;

			&-paging
				margin-top: 0 !important
				line-height: 22px !important;
				vertical-align: middle !important;
				/*display: inline-table !important;*/

				span
					line-height: 22px !important
					min-height: 22px !important
					height: 22px !important
					max-height: 22px !important;
					/*display: inline-table;*/

				&-pageinput
					width 50px !important
					height: 22px !important

				&-button
					border-radius: var(--border-radius)
					
					&:not(:disabled)
						background-color: var(--blue-light)
					
						&:hover
							background-color: var(--blue-dark2) 

				select
					margin-left: 20px !important
					height: 24px !important

			.sffw-list table thead th.noselect div[role=button] {
					background-color: var(--blue-brightest);
  					padding: 0.3rem;
  					border-radius: 0.35rem;		
			}		
