//
// * stylus/sass required variables
//

$light3-grey = #eee
$dayMargin = 2px

//
// * CSS variables 
//

:root {
  // Fonts
  --font-family : "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  --font-family-light : "Segoe UI Light", "Open Sans", "Helvetica Neue Light", "HelveticaNeue-Light", sans-serif;
  --font-family-bold : "Segoe UI Bold", "Open Sans Bold", "Helvetica Neue Bold", sans-serif

  // Colors
  --white : #fff;
  --white-opacity-40 : rgba(255,255,255,0.6);
  --white-opacity-60 : rgba(255,255,255,0.4);
  --white-opacity-50 : rgba(255,255,255,0.5);
  --white-opacity-70 : rgba(255,255,255,0.7);
  --white-opacity-85 : rgba(255,255,255,0.85);

  --black : #000;
  --dark-black : #1d1d1d;
  --dark1-black : #00205b;
  --light-black : #333;
  --light2-black : #484848;
  --antracit : #212529;

  --dark-grey-opacity60 : rgba(0,0,0,0.6);
  --grey-opacity-04 : rgba(0,0,0,0.04);
  --grey-opacity-05 : rgba(0,0,0,0.05);
  --grey-opacity-08 : rgba(0,0,0,0.08);
  --grey-opacity-10 : rgba(0,0,0,0.1);
  --grey-opacity-18 : rgba(0,0,0,0.18);
  --grey-opacity-50 : rgba(0,0,0,0.5);
  --grey-opacity-60 : rgba(0,0,0,0.6);

  --light-grey : #dcdcdc;
  --light1-grey : #f5f9fa;

  --light2-grey : #e9ecef;
  --light3-grey : #eee;
  --light4-grey : #dfdfdf;
  --light5-grey : #ced4da;
  --light6-grey : #f5f9fa;

  --dark0-grey : #bbb;
  --dark03-grey : #cbcbcb;
  --dark05-grey : #a7a7a7;
  --dark06-grey : #d9d9d9;
  --dark1-grey : #808080;
  --dark2-grey : #6c757d;
  --dark25-grey : #546e7a;
  --dark3-grey : #495057;
  --dark4-grey : #545b62;
  --dark5-grey : #4e555b;

  --lighter-gray-opacity03 : rgba(31,10,6,0.03);
  --lighter-gray-opacity05 : rgba(31,10,6,0.05);
  --lighter1-grey-opacity50 : rgba(238,238,238,0.5);
  --lighter2-grey-opacity30 : rgba(60,64,67,0.3);
  --full-grey-opacity15 : rgba(60,64,67,0.15);

  --darker1-grey-opacity30 : rgba(203,203,203,0.3);
  --darker-grey-opacity40 : rgba(108,117,125,0.4);
  --darker-gray-opacity50 : rgba(108,117,125,0.5);

  --darker-yellow-opacity50 : rgba(222,166,32,0.5);

  --red : rgba(218,98,74,0.5);
  --red-light : #fcf1ef;
  --red-light2 : #EF5350;
  --red-dark : #c03a2b;
  --danger-red : #f00;
  --dark1-orange : #da624a;
  --light1-orange : #FFB866;

  --blue : #4390df;
  --blue-light : rgba(67,144,223,0.75);
  --light2-blue : #68a7e5;
  --dark-blue : #43688E;
  --blue-opacity25 : rgba(14,109,226,0.25);

  --green : #3ac47d;
  --light2-green : #77d577;
  --dark1-green : #31a66a;
  --dark2-green : #2e9d64;
  --light1-green-opacity-40 : rgba(58,196,125,0.4);
  --light2-green-opacity-50 : rgba(58,196,125,0.5);

  --violet : #794c8a;
  --dark1-violet : #633e71;
  --dark2-violet : #5c3a69;

  --orange : #f7b924;
  --full-orange : #ffa500;
  --blood-orange : #e2525c;
  --dark-orange : #da624a;
  --dark2-ornage : #de7a22;
  --light3-brown-opacity70 : rgba(218,98,74,0.7);
  --light-orange-opacity40 : rgba(222,121,34,0.4);

  --yellow : #ffeb3b;
  --brown : #984433;
  --light-brown : #e8a092;

  --dark-pink : #e4c3c3;
  --light-pink : #f7dfda;
  --light1-pink : #fcf1ef;

  --light-creme : #DA624A
  --light-creme-opacity50 : rgba(218,98,74,.5);
  --full-pink-opacity50 : rgba(217,37,80,0.5);

  --background-opacity-zero : rgba(255,255,255,0) ;

  //  Variables 
  --border-radius : 0.35rem;

  // Shadows
  --large-shadow : 0 0.46875rem 2.1875rem rgba(31,10,6,0.03), 0 0.9375rem 1.40625rem rgba(31,10,6,0.03), 0 0.25rem 0.53125rem rgba(31,10,6,0.05), 0 0.125rem 0.1875rem rgba(31,10,6,0.03);

  // flat picker override 

  --slideTime : 400ms;

  // calendar width calculation
  --daySize : 39px;

  --dayMargin : 2px;
  --daysWidth : calc( var(--daySize) *7 + var(--dayMargin) *14 + var(--padding)*2 + 2);






}
