/* ------------------------------------ */
/* Solitea Artic CSS Style version 1.9ed*/
/* ------------------------------------ */

// * Variables
@import "base/variables.styl"

/* Base styles for layouts */ 
@import "base/normalize.styl"
@import "base/layout.styl"
@import "base/footer.styl"
@import "base/animations.styl"
@import "base/header.styl"
@import "base/headings.styl"
@import "base/develop.styl"
@import "base/modal.styl"
@import "base/sffw.styl"
@import "base/colorize.styl"

/* Typography and forms */
@import "typo/buttons.styl"
@import "typo/inputs.styl"
@import "typo/enumradiogroup.styl"
@import "typo/checkbox.styl"
@import "typo/datepicker.styl"
@import "typo/ui-block.styl"
@import "typo/validations.styl"
@import "typo/image.styl"
@import "typo/fonts.styl"

/* Complete plugins */
@import "plugins/flatpickr/flatpickr.styl"

/* Components styles */ 
@import "components/editor.styl"
@import "components/togglers.styl"
@import "components/breadcrumbs.styl"
@import "components/datepicker.styl"
@import "components/nav.styl"
@import "components/table.styl"
@import "components/notifications.styl"
@import "components/tooltip.styl"
@import "components/loading.styl"
@import "components/groupbox.styl"
@import "components/accordition.styl"
@import "components/popup.styl"
@import "components/languages.styl"
@import "components/tabs.styl"
@import "components/list-headers.styl"
@import "components/file-reader.styl"
@import "components/marbles.styl"
@import "components/list.styl"

/* Project modificators */
@import "modificators/GMS.styl"
@import "modificators/NTCS.styl"
@import "modificators/AMS.styl"

// * Notes - refactoring
// "components/file-reader.styl" done