/* --- AMS --- */

.arc-AMS
	*
		box-sizing: border-box
		
	#formplaceholder
		margin-left 263px 
		
	[data-name="BodyPnl_parent"] > .panel-table
		vertical-align top
		
	.arc-nav
		@media screen and (max-height: 620px)
			.arc-popup
				position: absolute;
				top: 320px;
				bottom: initial;
				

	&.arc-AMSExt
		@media screen and (max-width: 1170px)
			width: 100% !important

		h1
			text-align center !important

		h3
			text-align center
			
		.nodeclist-icon
			left: 10px !important

	& .sffw-list-paging /*list fix*/
		display: flex
		padding: 1rem

	sffw-notification-panel-status-icon .notification-trigger
		min-height: calc(2.25rem + 1px);
		

	.operationResult_collGrpBox
		table th
			color: #000;
			font-size: 0.9rem;

		&.success 
			div[role=button] span
				color: #3ac47d;
			table thead th
				background-color: var(--red);
				color: var(--red-dark);

		&.error 
			div[role=button] span
				color: #f00;
			table thead th
				background-color: #ffb2b2;

		&.partiallySuccess
			div[role=button] span
				color: #c47d3a;
			table thead th
				background-color: #e7cbb0;

	div.editedBtnWidth div.component.container div.panel-cell button
		max-width: 60px;


	.sffw-list-paging span select
		top: 2px;
		position: relative;

	.l133
		left: 133px !important


/* ------- External -------*/

			
	&Ext
		@media screen and (max-width: 1170px)
			width: 100% !important
			min-width: 850px;

			.arc-full-panel 
				min-width: 850px !important;


		.arc-nav-bar
			@media screen and (max-width: 1170px)
				width: 100% !important
				min-width: 850px;

		.nodeclist-icon
			left: 8px;
			top: 5px;
			
			button
				font-size: 2em !important;
				padding: 0 !important;

		.editor .errorText
			margin-top: -8px;

		div.amsExt_lang.component.hyperlink > a
			font-size: .9rem;
			text-decoration: none;
			transition: all .25s ease-in .25s;
			color: #6c757d;
			height: 2rem;
			line-height: 2rem;
			padding: 0 1.25rem 0 1.25rem;
			margin: 0;
			margin-left: -15px;
			width: 100%;
			display: block;
		
		div.amsExt_langDevide.component
			height: 2rem;
			font-size: 1.5rem;
			transform: translate(4px,-4px);
		
		.arc-test
			bottom: 17px;
			position: fixed;
			top: initial;
			transform: rotate(45deg);
			left: -26px;
			padding-left: 15px;
			padding-right: 5px;
			
.amsExtBook	.fa-book:before
	display: block
	content: "\f02d" !important