html body
	.arc
		&-retro
			.sffw-list
				margin-top: 50px 
				position relative
				border-right: 1px #cbcbcb solid
				
				*
					background transparent !important

				td
					padding: 0 !important

					a
						padding: 2px 2px !important
						border: 1px #cbcbcb solid
						border-bottom: 0
						border-right: 0

				thead
					display none !important
					
				&-paging
					position absolute
					top: -40px
					
				// Highlited rows effects
				tbody tr
					&:hover
						background-color: transparent !important

					&:last-child td a
						border-bottom: 1px #cbcbcb solid

					&.sffw-list-selected-row
						background-color rgba(185,209,234,1) !important 