/* --- NCTS --- */

.arc-NCTS
	*
		box-sizing: border-box
		vertical-align top
		
	.arc-labelPrimary h3
		font-size 18px
		line-height 25px
		padding 0


	.tabs .tab a
		@media screen and (max-width: 1919px)
			min-height: 52px !important

	sffw-notification-panel-status-icon .notification-trigger
		min-height: 39px
		
	.arc-nav.arc-larger
		top: 134px !important
		
		.arc-headings
			min-height 134px !important 

	.arc-popup .arc-imagebutton *
		vertical-align: initial !important

	& .sffw-list-paging /*list fix*/
		display: flex
		padding: 1rem

		span select
			top: -1px;
			position: relative;

[data-name="BodyPnl"] > div
	vertical-align top

.ncts-ext nav > ul
	transform: translateY(1.0rem)

.fix-bellIconPosition
	transform: translateY(-65px);


.fix-controlPanelPsition
	transform: translateY(-12px);

.ncts-ext .sffw-list .sffw-list-paging {
    display: flex;
}
.arc-panel.component.container.container-component.panel.smx-margin.v-panel	{
	margin-top: 50px;
}