.closedNav
	.arc
		&-nav
			left: -100%	
			transition: .4s left

			&Toggler
				button
					transition: .4s all
					background-color var(--dark03-grey)	

		&-content
			left 0
			width 100% !important